.App {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.dropdown-container {
  display: flex;
  position: relative;
  overflow: visible;
}

.dropdown-container .btn-dropdown {
  padding: 8px 16px;
}

.dropdown-container .dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  list-style: none;  
  padding: 4px 4px 4px 16px;
  background-color: white;
  margin: 0;
}

.dropdown-container .dropdown-menu li {
  cursor: pointer;
}

.dropdown-container .dropdown-menu li:hover {
  color: lightskyblue;
}